

/input

stemma_texts/cx2vartab.py
stemma_texts/paup4a168_osx
stemma_texts/txt/.DS_Store
stemma_texts/vartab2nex.py
.DS_Store
stemma_texts/.DS_Store
stemma_texts/.DS_Store
stemma_texts/.DS_Store
.DS_Store
stemma_texts/"cain20.tree"
